.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 100px;
    background-color: #F3F4F6;
    border-bottom: 1px solid #b3b3b3;
}

.logo-img {
    margin-left: 10px;
}

.header-button {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-logout {
    width: 8.5rem;
    height: 2rem;
    margin: 1rem;
}

.btn-logout {
    background-color: #FFA500;
    color: #FFFFFF;
    border-radius:30px;
}

.mobile-menu {
    background: #f9fafb;
    padding: 1rem;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.mobile-menu.hidden {
    display: none;
}

.screen {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-wrapper {
    background-color: #f5f5f5;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}
        
h1 {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 3rem;
}
        
.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 24px;
    max-width: 900px;
    margin: 80px auto;
    padding: 0 20px;
}

.tile-button {
    position: relative;
    background-color: #ffffff;
    border: none;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
}

.tile-button i {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #1976d2;
    display: block;
}
        
.container {
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin: auto;
}
        
p {
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem 0;
    margin: 1rem;
    background-color: #f5f5f5;
}
        
input {
    width: 6rem;
    height: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: none;
    text-align: center;
    justify-content: center;
}
        
.target-label input {
    background-color: #f5f5f5;
    font-size: 1.5rem;
    font-weight: bold;
}
        
.result input {
    background-color: #f5f5f5;
    font-size: 1.5rem;
    font-weight: bold;
}
        
span {
    font-size: 1.4rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.achievement {
    padding-top : 4rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

.achievement-bar {
    width: 100% !important;
    height: 100% !important;
}

:root {
    --progress-bar-color: #2563eb;
    --chart-tick-color: #111827;
    --chart-grid-color: #111827;
}

.chart-wrapper {
    width: 80%;
    height: 600px;
    margin: 4rem auto;
    background-color: #f5f5f5;
}

#myChart {
    width: 100% !important;
    height: 100% !important;
}

footer p{
    background-color: #C6C7C8;
    text-align: center;
    margin: 0;
    padding: 1rem 0;
    font-size: 0.9rem;
}

@media (prefers-color-scheme: dark) {
    .body-wrapper {
        background-color: #0F2350;
        color: white;
    }
    .target-label p {
        background-color: #0F2350;
        color: white;
    }
    .target-label input {
        background-color: #0F2350;
        color: white;
    }
    .result p {
        background-color: #0F2350;
        color: white;
    }
    .result input {
        background-color: #0F2350;
        color: white;
    }
    :root {
        --progress-bar-color: #60a5fa;
        --chart-tick-color: #e5e7eb;
        --chart-grid-color: #e5e7eb;
    }
}

/* メディアクエリ */
@media (max-width: 768px) {
    .button-container {
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 40px auto;
    }
    .pc-menu {
        display: none;
    }
    .sm-menu{
        align-items: center;
        flex-direction: column;
    }
    .hamburger {
        display: block;
        font-size: 2rem;
        line-height: 1;
    }
    .mobile-menu{
        text-align: center;
        background-color: #F3F4F6;
        border-bottom: solid #b3b3b3;
    }

    .hamburger {
        display: block;
        font-size: 2rem;
        line-height: 1;
    }

    .site-header.no-border {
        border-bottom: none;
    }
    .tile-button {
        padding: 50px 80px;
        font-size: 1.2rem;
    }
    .chart-wrapper {
        width: 90%;
        height: 300px;
        margin: 2rem auto;
    }

    #myChart {
        width: 100% !important;
        height: 100% !important;
    }
}
