.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 100px;
    background-color: #F3F4F6;
    border-bottom: 1px solid #b3b3b3;
}

.logo-img {
    margin-left: 10px;
}

.header-button {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-logout {
    width: 8.5rem;
    height: 2rem;
    margin: 1rem;
}

.btn-logout {
    background-color: #FFA500;
    color: #FFFFFF;
    border-radius:30px;
}

.mobile-menu {
    background: #f9fafb;
    padding: 1rem;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.mobile-menu.hidden {
    display: none;
}

.body-wrapper {
    background-color: #F3F4F6;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
      
.container {
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin: 1rem;
}
      
.study {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin: 1rem;
}
      
.study-date,
.study-contents,
.learning-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin:1rem;
}

.study-contents input {
    width: 200px;
}

.learning-date input {
    width: 80px;
}

p {
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem 0;
    margin: 1rem;
}
      
p.message {
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
}

span {
    font-size: 1.4rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
      
.alert {
    font-size: 1.5rem;
    width: 30rem;
    height: 2rem;
    text-align: center;
}
      
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
      
button {
    width: 12rem;
    height: 2.5rem;
    margin: 1rem 0.5rem;
}

.submit-button {
    background-color: #3B82F6;
    color: white;
    font-weight: bold;
    border-radius:20px;
}

.main-button {
    background-color: #059795;
    color: white;
    font-weight: bold;
    border-radius:20px;
}

footer p {
    background-color: #C6C7C8;
    text-align: center;
    margin: 0;
    padding: 1rem 0;
    font-size: 0.9rem;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #0F2350;
    }
    
    .body-wrapper {
        background-color: #0F2350;
    }

    .study-date p, .study-contents p, .learning-date p, span {
        color: white;
    }
}

/* メディアクエリ */
@media (max-width: 1024px) {
    .pc-menu {
        display: none;
    }

    .sm-menu{
        align-items: center;
        flex-direction: column;
    }

    .mobile-menu{
        text-align: center;
        background-color: #F3F4F6;
        border-bottom: solid #b3b3b3;
    }

    .hamburger {
        display: block;
        font-size: 2rem;
        line-height: 1;
    }

    .site-header.no-border {
        border-bottom: none;
    }
}

@media (max-width: 640px) {
    .container {
        padding: 1rem;
    }
    .button-container {
        flex-direction: column;
        align-items: center;
    }
    button {
        margin: 1.5rem;
    }
    .body-wrapper {
        height: 120vh;
    }
}
