.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 100px;
    background-color: #F3F4F6;
    border-bottom: 1px solid #b3b3b3;
}

.logo-img {
    margin-left: 10px;
}

.header-button {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-guest {
    background-color: #FFA500;
    color: #FFFFFF;
    border-radius:30px;
}

.btn-login {
    background-color: #207ED6;
    color: #FFFFFF;
    border-radius:30px;
}

.mobile-menu {
    background: #f9fafb;
    padding: 1rem;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.mobile-menu.hidden {
    display: none;
}
        
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F3F4F6;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    gap: 1rem;
}

.main-text {
    text-align: center;
}

.main-text h1{
    font-size: 50px;
    font-weight: bold;
}

.main-text h2{
    font-size: 20px;
}
        
.features {
    width : 100%;
    padding: 5rem 8rem;
}

.feature {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    gap: 2rem;
}

.feature-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.feature-text h4 {
    font-size: 32px;
    font-weight: bold;
    text-align: left;
}

.feature-text p {
    text-align: left;
    font-weight: bold;
}

p {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 1rem;
}
        
button {
    width: 8.5rem;
    height: 2rem;
    margin: 1rem;
}

footer p{
    background-color: #C6C7C8;
    text-align: center;
    margin: 0;
    padding: 1rem 0;
}
        
/* メディアクエリ */
@media (max-width: 1024px) {
    .features {
        width : 100%;
        padding: 5rem;
    }

    .pc-menu {
        display: none;
    }

    .sm-menu{
        align-items: center;
        flex-direction: column;
    }

    .mobile-menu{
        text-align: center;
        background-color: #F3F4F6;
        border-bottom: solid #b3b3b3;
    }

    .hamburger {
        display: block;
        font-size: 2rem;
        line-height: 1;
    }

    .site-header.no-border {
        border-bottom: none;
    }
}

@media (max-width: 768px) {
    .main{
        flex-direction: column;
    }

    .features {
        width : 100%;
        padding: 5rem;
    }

    .feature-block {
        flex-direction: column;
    }

    .feature-block .feature-text {
        order: 1;
    }

    .feature-block .log-img {
        order: 2;
    }
}
